body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
nav a:hover {
    text-decoration: underline;
}

body{background:#eee}
.ratings i{font-size: 16px;color: red}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}